<div class="container success">
<div class="card cardTwo">
<h1 id="successOne">Success!</h1>

<p>Your Squad has been successfully saved.</p>
</div>

<a class="btn btn-outline-dark" href="/">Home</a>
<a  class="btn btn-outline-success" href="/squads">View Squads</a>
</div>