<div class="container squadsC">
#if ($squads)
<ul>
  #foreach ($squad in $squads)
    <li><a href="/squad/$squad.getId()">$squad.getSquadName()</a></li>
  #end
</ul>
#else
<p id="none">No Squad!</p>
#end
<a class="btn btn-outline-dark"href="/squad_form/new">Add New Squad Here</a>
<a class="btn btn-outline-dark" href="/">Back Home</a>
