<div class="container successOne">
<div class=" card cardTwo">
<h1 id="successOne">Success!</h1>

<p>Your Hero has been saved.</p>
</div>


<a class="btn btn-outline-dark" href="/">Back to Home</a>
<a class="btn btn-outline-success" href="/heroes">View All Heroes</a>
</div>
